@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  background-color: #1a2a33;
  color: #a8bfc9;
  color-scheme: light dark;
}
@layer base {
  body {
    font-family: "Outfit", sans-serif;
  }
}

@layer components {
  h1 {
    @apply text-base font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }
  h3 {
    @apply text-2xl font-bold;
  }
  h4 {
    @apply text-5xl font-bold;
  }
  p {
    @apply text-sm font-medium;
  }
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
